@model IEnumerable<Appdev.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h1>List All User</h1>
    </div>
    <div class="col-6">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th>@user.Id</th>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit","Users", new { id = user.Id})" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Delete","Users", new { id = user.Id})" class="btn btn-danger">Delete</a>
                        <a href="@Url.Action("ResetPassword","Account", new { id = user.Id})" class="btn btn-success">Forgot Pass</a>
                    }
                    @if (User.IsInRole("Staff"))
                    {
                        if (@user.Role == "Trainee")
                        {
                            <a href="@Url.Action("Edit","Users", new { id = user.Id})" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete","Users", new { id = user.Id})" class="btn btn-danger">Delete</a>
                            <a href="@Url.Action("ResetPassword","Account", new { id = user.Id})" class="btn btn-success">Forgot Pass</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
