@model IEnumerable<Appdev.Models.Category>
@{
    ViewBag.Title = "AllCategory";
}

<h2>All Category</h2>
@using (Html.BeginForm("Index", "Categories"))
{
    <div class="form-group">
        @Html.Label("Search task by Name")
        @Html.TextBox("cateName", null, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Search Category By Name</button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Description</th>
            <th scope="col">Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Name</th>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</table>

